<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Young professional with hands-on experience planning, managing and completing game development projects. Years of experience in Maya3D, 
        Blender, Unity3D, Unreal Engine and the Adobe Suite. Exceptional communicator and quick learner, independent worker. I do what needs to be
        done and I always put the project first. Native Norwegian speaker, fluent English speaker. ABK Women in Games scholar 2023.</p>
      </div>
      <div class="col-lg-4">
        <p>The first day of school, our professor wrote "KISS - KEEP IT SIMPLE, STUPID" on the whiteboard as large as he could. I think that
        set the scene for my career. My philosophy is that work that gets done is always better than work you tried really hard on. Not to say
        that challenges are bad; just that when it comes to production, working smarter is better than working harder.</p>
      </div>
    </div>
  </div>
</section>
